/* ==UserStyle==
@name           Reader Mode
@namespace      https://github.com/Natsulus/User-Library
@version        1.0.18
@description    A customisable reader mode style for web novels. Default Dark Theme.
@author         Natsulus
@homepageURL	https://github.com/Natsulus/User-Library/tree/master/Usercss/Reader%20Mode
@supportURL		https://github.com/Natsulus/User-Library/issues
@updateURL      https://raw.githubusercontent.com/Natsulus/User-Library/master/Usercss/Reader%20Mode/Reader%20Mode.user.css
@preprocessor	stylus
@var select device "Device" {
    "PC": "pc",
    "Mobile": "mobile"
}
@var select theme "Theme" {
    "Dark": "dark",
    "Light": "light"
}
@var checkbox checkReadingWidth "Custom Reading Width" 0
@var text customReadingWidth "Value" 80vmin
@var checkbox checkFontSize "Custom Font Size" 0
@var text customFontSize "Value" 1.7vmin
@var checkbox checkLineHeight "Custom Line Height" 0
@var text customLineHeight "Value" 2.3vmin
@var checkbox checkTextColour "Custom Text Colour" 0
@var color customTextColour "Value" #CCCCCC
@var checkbox checkBackgroundColour "Custom Background Colour" 0
@var color customBackgroundColour "Value" #222222
@var checkbox hideComments "Hide Comments" 0
==/UserStyle== */

@-moz-document domain("webnovel.com"), domain("volarenovels.com"), domain("moonbunnycafe.com"), domain("wuxiaworld.com"), domain("machineslicedbread.xyz"), 
domain("wordpress.com"), domain("saigotranslation.com"), domain("novitranslation.com"), domain("novelstranslation.com"), domain("myoniyonitranslations.com"),
domain("pgttranslations.com"), domain("kobatochan.com"), domain("syzctranslations.github.io"), domain("translationnations.com"), domain("lightnovelstranslations.com"),
domain("bayabuscotranslation.com"), domain("shinsori.com"), domain("amateurtranslations.com"), domain("novelsnchill.com"), domain("rpgnovels.com"),
domain("uncommittedtranslations.bravesites.com"), domain("mistycloudtranslations.com"), domain("lightnovelbastion.com"), domain("oppatranslations.com"),
domain("gravitytales.com"), domain("re-library.com"), domain("wuxianation.com"), domain("zenithnovels.com"), domain("novelsreborn.com"),
domain("radianttranslations.com"), domain("ainushi.com"), domain("blogspot.com"), domain("scrya.org"), domain("raisingthedead.ninja"), domain("liberspark.com"),
domain("shiroyukitranslations.com"), domain("aihristdreamtranslations.com"), domain("rancerqz.com"), domain("comegatranslations.com"), domain("razpyon.tumblr.com"),
domain("rebirth.online"), domain("syilpharhea.com"), domain("snowycodex.com"), domain("pyontranslations.com"), domain("blobtranslations.com"),
domain("storiesonline.net"), domain("fantasy-books.live"), domain("paste.imirhil.fr"), domain("paste.jaegers.net"), domain("otakulair.com"),
domain("oniichanyamete.moe"), domain("ebisutranslations.com"), domain("paste.fizi.ca"), domain("fictionpress.com"), domain("ensjtrans.com"),
domain("ehmed.xyz"), domain("fujitranslation.com"), domain("jikutrans.com"), domain("wolfiehonyaku.com"), domain("rhextranslations.com"), domain("bhauth.com"),
domain("rinkagetranslation.com"), domain("firebirdsnest.org"), domain("workingneet.com"), domain("wordexcerpt.com"), domain("funwithstela.web.id"), domain("tigertranslations.org"), domain("vim.cx"), domain("weletranslation.com"), domain("anonbin.ml"), domain("2slow2latemtl.icu"), domain("infinitenoveltranslations.net"), domain("hikkinomori.mistbinder.org"), domain("birdytranslations.com"), domain("paste.dd.zom.bi"), domain("privatebin.net"), domain("creativenovels.com"), domain("sabishiidesu.com"), domain("isecainovels.com"), domain("secured.fi"), domain("veratales.com"), domain("tech-port.de"), domain("atebin.com"), domain("secured.fi"), domain("tech-port.de"), domain("cloudytranslations.net"), domain("asianhobbyist.com"), domain("zirusmusings.com"), domain("boredtl.com"), domain("yado-inn.com"), regexp(".*\\/\\/docs\\.google\\.com\\/.+pub.*")
    if device == pc
        defaultReadingWidth = 80vmin
        defaultFontSize = 1.7vmin
        defaultLineHeight = 2.3vmin
    if device == mobile
        defaultReadingWidth = 80vmax
        defaultFontSize = 1.7vmax
        defaultLineHeight = 2.3vmax
    if theme == dark
        defaultTextColour = #CCC
        defaultBackgroundColour = #222
    if theme == light
        defaultTextColour = #000
        defaultBackgroundColour = #FFF

    *:not(a):not(._on):not(i):not(svg), .content .primary main article.chapter .entry-content p, p > i
        if checkTextColour
          color: customTextColour !important
        else
          color: defaultTextColour !important

    *, .content .primary main article.chapter .entry-content p
        font-family: Arial,sans-serif,Verdana !important
        text-shadow: none !important
    
    p, .MsoNormal span, font, p span, .MsoNormal, .entry-content, .post-body > div > span, .content .primary main article.chapter .entry-content p, .container > .row > div > pre,
    .post-body.entry-content div[style*="font-size"]
        if checkFontSize
            font-size: customFontSize !important
        else
            font-size: defaultFontSize !important
        if checkLineHeight
            line-height: customLineHeight !important
        else
            line-height: defaultLineHeight !important
        word-wrap: break-word !important
        
    .MsoNormal span, .MsoNormal + span, .content > .content-outer .content-inner .columns-inner .post-outer .post-body > :not([dir="ltr"]) span,
    .content > .content-outer .content-inner .columns-inner .post-outer .post-body ruby
        background: rgba(220, 220, 220, 0.05) !important
        border: 1px solid rgba(111, 111, 111, 0.1) !important
        
    a, a p, a font, a span, a strong
        color: #a00000 !important

    a:hover, a:hover p, a:hover font, a:hover span, a:hover strong
        color: #bb0000 !important

    a:visited, a:visited p, a:visited font, a:visited span, a:visited strong
        color: #8705a7 !important

    a:visited:hover, a:visited:hover p, a:visited:hover font, a:visited:hover span, a:visited:hover strong
        color: #a12ebe !important

    .entry-title
        text-align: center !important

    body, body.page, html, body.custom-background
        if checkBackgroundColour
            background-color: customBackgroundColour !important
        else
            background-color: defaultBackgroundColour !important
        background-image: none !important
        padding: 0 !important
        filter: none !important
        border: none !important

    .cha-header, .cha-fly
        opacity: 0

    .cha-header:hover, .cha-fly:hover
        opacity: 1
        
    #container
	    display: flex !important
    
    /* Preparation for Back-To-Top Toggle Setting */
    .mh-back-to-top
        display: none !important
        
    [role=navigation], [role=banner], [role=complementary], :not(.page-container) > nav, footer:not(.comment-meta),
    :not(#chapterContent) > header:not(.modal-header):not(.entry-header):not(.td-post-title):not(#releases):not(.Header__header--1aWg-), #header, #access, #wp_access_helper_container,
    #promotion-message, #site-header, #fallbackImage, #navbar, #primary-sidebar, #jp-relatedposts, #sidebar, #allaction, #post-footer, #contact, #footer, #header_wrapper, #nav-above.navigation,
    #nav-below.navigation, #footer_wrapper, #location_1 > .asterion_components_container, .site-top, .entry-footer, .site-wordpress, .site-image, .content-inner header, .tabs-outer,
    .column-right-outer, .post-footer, .blog-pager, .sharedaddy, .widget-areas, .breadcrumb, .hentry:after, .td-header-wrap, .td-footer-wrapper, .td-sub-footer-container, .sharedaddy, .entry-author,
    .osny-nightmode, .shins-before-content, .share, .metadata, .post_read_more, .entry-utility, .wrapper.style2 > .container, .side-nav, div.header, div.navbar, .kudoable, .chapter-header,
    .backstretch, .meta-comments, .navigation.section, .credits.section, .main-container .container:after, .footer, #main .dropdown > button.dropdown-toggle, .menu-search, #page:before, #page:after,
    .cha-lst.sm-hide.j_update_list, #hero-header, .tmblr-iframe-overlay.tmblr-iframe-themed.tmblr-iframe-compact > .row > .column.grid_4,
    .tmblr-iframe-overlay.tmblr-iframe-themed.tmblr-iframe-compact > .row > .column.grid_7 .notes, #actionbar, #back-to-top, .wpulike, .hm11.x-bar-space, .hm1.x-bar, .hm11.x-bar, .x-off-canvas,
    .x-scroll-top.right, #x-root > div.x-bar-space-right, .container > .content > .row > div:nth-child(2), .pp .top-bar-area, .navigation-bar, #wpadminbar, #header-image, #author-info, #scrollup,
    .zmenu, #pre_story_links, #profile_top, .lc-wrapper, #review, #p_footer, .t_head.hbox, body#top > #content, #d_menu, .menulink.maxwidth, .header-bg, .main-sidebar, #back-top,
    .panel > .panel-heading, .header-image, .sidebar, widgetbot-crate, body:not(.custom-background-image)::before, body:not(.custom-background-image)::after, #bit,
	#headerwrap, .post-date-wrap, .custom-header, .mtsnb, .site-container::before, .site-container::after, .viewitem-panel, .code-block.code-block-1.ai-viewport-1, .x-main.full .toolbar, .x-main.full .code-block, .draggable_crn, .bg-photo, .vertical-ad-container, .bg-photo-overlay, #site-header-container, #sb2, #sticky-search-sticky-wrapper, .mh-sidebar, #specialsearchresults, .suggestion_list_overall, .small-t-pheader, #bookmark-chapter, .panel-footer, #jetpack_remote_comment, div[id^="announcement-"], .ad-wrapper, .elementor-16310 .elementor-element.elementor-element-51660169, .ezoic-ad, aside#sb1
        min-width: 0px !important
        min-height: 0px !important
        display: none !important

    body, article:not(.comment):not(.comment-body), #story, #top, #content, #main-wrapper, #main, #primary, #primary-content, #page, #td-outer-wrap, #wrapper, #wrapper > #container, #wrapper.hfeed,
    .hentry, .entry-wrapper, .content-inner, .post-inner-content, .wrapper, .content-sidebar-wrap, .not-found, .error404 #main .searchform, .content, .site-container, .entry-header,
    .entry-content, .td-main-content, .td-main-content-wrap, .tdc-content-wrap, .td-pb-row, .td-container, .post_wrapper, .blog_post, .x-container, .x-main, body .x-main.left, .entry-wrap,
    .content-area, #content .row, #content .col-md-8, .box, :not(.comment-details) > .row, .container, .main-content, .main-outer, .footer-outer, .main-inner .columns,
    #comments, #comments .p-15, .layout__item, .comment-list, .chapter-body p, .format-standard .entry-wrap, .content-wrapper, .post, .section-inner, .post-content, .span8, .span8 > .left-col,
    .container > .row > div, .cha-page-in, #content-wrapper, .column-center-inner, .content-outer, .lightpanel,
    .tmblr-iframe-overlay.tmblr-iframe-themed.tmblr-iframe-compact > .row > .column.grid_7, .post-title, .site, .container > .content > .row > div:nth-child(1),
    .container > .row > div > pre, #content .post-inner, #content_parent, #content_wrapper, #content_wrapper_inner, .max-width, div.well, div.input-group, .site-content-wrapper, .hentry-wrapper
    .content > .eleven.columns, .auto-style1, #layout, #tie-wrapper, .tie-row, .entry-body, .article-wrapper, #main #items, #main .item, .site-content-contain, #content .wrap,
    .Chapter__container--3pCsP, .page_body, #content > #left, #main > .inner, .inside-article, .p-15, .mh-container, .mh-wrapper, .mh-main, .mh-content, .x-container.main::before, .x-container > .offset, #x-root, #content-container, .panel.panel-default, .main, .mobile .main-inner, .date-outer, .elementor-16310 .elementor-element.elementor-element-653cbccc, .elementor-16310 .elementor-element.elementor-element-653cbccc:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated, .elementor-16310 .elementor-element.elementor-element-6095815f:not(.elementor-motion-effects-element-type-background)
        margin: 0 auto !important
        float: none !important
        background-color: transparent !important
        background-image: none !important
        position: static !important
        border: none !important
        padding: 0 !important
        box-shadow: none !important
        max-width: 100% !important
        if checkReadingWidth
            min-width: customReadingWidth !important
            width: customReadingWidth !important
        else
            min-width: defaultReadingWidth !important
            width: defaultReadingWidth !important
            
    .sp-wrap-default, .sp-wrap-default .sp-body, p[dir=ltr] + table
        background: transparent !important
        border-color: #333

    hr
        margin: 0 auto !important
        background-color: #666
        border-color: #666
        padding: 0 !important

    .left, .right, .center
        position: relative !important

    .right
        float: right

    .fauxcolumn-right-outer .fauxcolumn-inner, .wc-comment-footer, .wpdiscuz-front-actions
        border: none !important

    .content-outer
        box-shadow: none !important

    .fa-long-arrow-left:before
        content: "\2190"

    .fa-long-arrow-right:before
        content: "\2192"

    .fa-list:before, .glyphicon-th-list:before
        content: "\2630"

    .fa-clock-o:before
        content: "\01F558"

    .fa-chevron-up:before, .glyphicon-triangle-top:before
        content: "\25B2"

    .fa-chevron-down:before, .glyphicon-triangle-bottom:before
        content: "\25BC"

    .fa-user:before
        content: "\01F464"

    .fa-at:before
        content: "@"

    .fa-link:before
        content: "\01F517"

    .fa-comments:before
        content: "\01F4AC"

    .fa-plus:before
        content: "\002B"
        font-weight: 900
        margin-right: -8px

    .x-icon-reply:before
        content: "\2937"
        
    .x-icon-angle-double-left:before
        content: "\00AB"
        
    .x-icon-angle-double-right:before
        content: "\00BB"

    .alllink, #actionbar
        background-color: #1b1b1b !important

    body:before, .below-title-meta, .entry-meta, .comment, .comment-body, #comments, .wc-comment-right, .wpdiscuz-front-actions, .wc-form-wrapper, section.box.blacktext > div,
    .body-fauxcolumn-outer .fauxcolumn-inner, .body-fauxcolumn-outer .cap-top .cap-left, .comments, .comment-inner, #respond, .post-meta, .pagination li a, .panel, .entry-meta span,
    #comments .section-title span, #comments .section-title
        background-color: transparent !important
        background-image: none !important

    textarea, input, textarea#comment, input[type="text"], input[type="email"], input[type="url"], input[type="password"], .progress
        background: rgba(0, 0, 0, 0.2) !important
        color: #ccc !important

    .commentlist .bypostauthor > div, .comments .comment-thread.inline-thread
        background: rgba(0, 0, 0, 0.2) !important
        border: none !important
        padding: 10px 20px 10px 20px !important

    /* Quote/Author Note Boxes */
    .notice, .end-note
        background-color: #333 !important

    /* Qidian WebNovel */
    .cha-modal
        right: 48px
        margin-left: auto
        margin-right: 0px
        bottom: 48px
        background: #111 !important
        background-image: none

    .g_chat_reply textarea
        background: rgba(0, 0, 0, 0.75) !important
        
    if hideComments
        #comments, #comment_form_title, #comment_form_area, #disqus_thread, .comments-area
            display: none !important
            
    /* Hacky Fixes*/
    body.header-image.page.group-blog
        display: block !important
    
    #pagewrap > #body > #layout > #content .page-content p
        margin: auto !important